.privacy-policy-wrapper{
    font-family: Montserrat,sans-serif;
    margin-top:80px;
    padding: 40px 15%;
    background:#e6e6e6;
    color:black;
    font-size:20px;
}
.privacy-policy-wrapper > h2,h1{
    color:black;
}
.privacy-policy-wrapper > h1{
    font-size:50px;
}
.privacy-policy-wrapper > h2{
    font-size:40px;
}
.privacy-policy-wrapper > a{
    text-decoration: none;
    color: #898989;
}
@media(max-width:768px){
    .privacy-policy-wrapper{
        margin-top:60px;
    }
}

.navbar-default{
    opacity: 1 !important;
}