/*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
html {
    font-size: 62.5%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Open Sans";
!important;
}

/*video {*/
    /*display: block;*/
/*}*/

/*video#bgvid {*/
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*width: auto;*/
    /*height: auto;*/
    /*z-index: -100;*/
    /*-webkit-transform: translateX(-50%) translateY(-50%);*/
    /*transform: translateX(-50%) translateY(-50%);*/
    /*!*background: url("../img/header-bg.jpg") no-repeat;*!*/
    /*background-size: cover;*/
/*}*/


video#bgvid {
    display: none;
}

header {
    background-image: url(../img/Group.png);
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

@media (max-width: 800px) {
    video#bgvid {
        display: none;
    }

    header {
        background-color: black;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;

    }

    /*.intro-heading {*/

        /*display: none;*/
    /*}*/
}

/* Header */

.logo-position {
    /*margin-top: -5px;*/
    height: 40px;
    /*width: 120px;*/
}

header {
    text-align: center;
    color: #222;
    background-attachment: scroll;
    /*background-image: url(../img/header-bg.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    position: relative;
    height: 100vh;
    padding-top: 120px;
    padding-bottom: 50px;

}

header .intro-text img {
    width: 60rem;
}

header .intro-text .intro-lead-in {
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 22px;

}

header .intro-text .intro-heading {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -khtml-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.navbar-default {
    border-color: transparent;
    background-color: #FFFFFF;
}


.navbar-default .navbar-brand {
    color: #222;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #222;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toggle {
    border-color: #222;
    background-color: #A3327F;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #A3327F;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    color: #AA448A;

}

.navbar-default .nav li a:hover {
    outline: 0;
    color: #fff;
    background-color: #AA448A;
}

.navbar-default .nav li a:active,
.navbar-default .nav li a:focus {
    outline: 0;
    /* color: #AA448A; */
}

.navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #AA448A;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #AA448A;

}

.navbar-default {
    padding: 5px 0;
    border: 0;
    background-color: #FFFFFF;
    opacity: 0.5; /* opacity [0-1] */
    -moz-opacity: 0.5; /* opacity [0-1] */
    -webkit-opacity: 0.5; /* opacity [0-1] */
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;

}

.navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

/*.navbar-default .navbar-nav > .active > a {*/
/*border-radius: 3px;*/
/*}*/

.navbar-default.navbar-shrink {
    opacity: 1; /* opacity [0-1] */
    -moz-opacity: 1; /* opacity [0-1] */
    -webkit-opacity: 1; /* opacity [0-1] */
    padding: 10px 0;
    background-color: #FFFFFF;

}

.navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}

/* About Section */

#About p {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 2.1rem;
    font-variant: normal;
    text-align: justify;
    text-indent: 4rem;
}

.about-background {
    background-color: #ffffff;
}

.about-background .section-heading {
    color: #AA448A;
}

/* Games Section */

#Games {
    background: url(../img/Layer%207.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#Games .section-heading {
    color: white;
}

#Games h2 {
    margin-top: -50px;
    margin-bottom: 50px;
    color: #000;
}

.products {
    text-align: center;
    padding-bottom: 30px;
}

.product-image {
    position: relative;
}

.imgCaption {

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 100;
    height: 50px;
    line-height: 50px;
    width: 398px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.app-link-container {
    padding-top: 5px;
}

.app-links {
    padding: 5px;
    z-index: 200;
    cursor: pointer;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

@media (max-width: 900px) {
    #center img {
        max-width: 100%;
    }

    #center {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .app-links-left {
        text-align: left;
    }

    .app-links-right {
        text-align: right;
    }

}


/* Jobs Section */

.job-background {
    background-color: #fff;
}

#Jobs {
    color: #222;
    margin-top: -10px;
    font-family: 'Open Sans';
    font-size: 1.7rem;
}

#Jobs .col-md-4 {
    padding-right: 15px;
}

#Jobs h2 {
    color: #AA448A;
    margin-top: -50px;
}

#Jobs h3, h4, p, ul {
    list-style-type: none;
    color: #222;
}

#Jobs h3 {
    font-size: 2rem;
    font-weight: bold;
}

#Jobs h4 {
    color: #AA448A;
}


#Jobs ul {
    text-decoration: none;
    padding: 0;
    text-align: justify;
}

#Jobs li {
    padding-top: 15px;
    text-align: justify;
}

#Jobs p {
    text-align: justify;
}

#Jobs a {
    color: #AA448A;
    text-decoration: none;
    font-size: 1.8rem;
    pointer: cursor;
}

.jobReq:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin-right: 15px;
    color: #AA448A;
}

.text-muted {
    color: #000;
}

/* Contact Section */

section#Contact {
    background: url(../img/Layer%2020.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#Contact {

    padding-top: 10rem;
    padding-bottom: 10rem;
}

#Contact h3 {

    margin-top: 100px;
    font-size: 3rem;
    font-weight: 500;
}

#Contact p {
    text-decoration: underline;
    font-size: 3rem;
    line-height: 1.75;
    text-align: justify;
    line-height: 150%;
}

.text-white {
    color: #fff;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;

}

section h3.section-subheading {

    margin-bottom: 40px;
    text-transform: none;
    font-size: 16px;
    font-weight: 800;

}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 700;
}


/* Responsive */

.ws_bullets,
.ws_playpause.ws_pause{
    display: none;
}
#wowslider-container0 a.ws_next > span,
#wowslider-container0 a.ws_prev > span{
    background: #A3327F !important;
    cursor: pointer;
}



@media (min-width: 768px) {
    .logo-position {
        margin-top: -6px;
        height: 40px;
        /*width: 120px;*/
    }

    .navbar-default {
        padding: 10px 0;
        border: 0;
        background-color: #ffffff;
        opacity: 0.5; /* opacity [0-1] */
        -moz-opacity: 0.5; /* opacity [0-1] */
        -webkit-opacity: 0.5; /* opacity [0-1] */
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;

    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }


    .navbar-default.navbar-shrink {
        opacity: 1; /* opacity [0-1] */
        -moz-opacity: 1; /* opacity [0-1] */
        -webkit-opacity: 1; /* opacity [0-1] */
        padding: 0 0;
        background-color: #ffffff;

    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    .navbar-nav > li > a {
        padding: 25px 10px;
    }

    #Jobs p{
        font-size: 1.9rem;
    }
}

@media (max-width: 768px) {
    .logo-position {
        margin-top: -6px;
    }

    .app-links {
        max-width: 50%;
    }

    .app-links-left {
        text-align: left;
    }

    .app-links-right {
        text-align: right;
    }

}


@media (max-width: 660px){

    header {
        background-color: black;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;

    }
    header .intro-text{
        width: 90%;
        left: 50%;
        transform: translate(-50%);
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -khtml-transform: translate(-50%);
        -o-transform: translate(-50%);
    }
    /*.banner{*/
        /*display: block;*/
        /*-moz-box-sizing: border-box;*/
        /*box-sizing: border-box;*/
        /*background: url(../img/Rounded%20Rectangle%201%20copy2@.png) no-repeat;*/
        /*max-width: 100%;*/
        /*background-position: center center;*/
        /*-webkit-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*background-size: cover;*/
        /*-o-background-size: cover;*/
        /*width: 398px;*/
        /*height: 398px;*/
        /*padding-left: 398px;*/
        /*left: 50%;*/
        /*position: relative;*/
        /*transform: translate(-50%);*/
    /*}*/


}

.logo-home-position {
    width: 150px;
    height: 70px;
    margin-top: 300px;
}


@media (max-width: 480px) {
    #About p {
        font-size: 1.9rem;
    }

    .products .product-image img,
    .products .product-image span {
        max-width: 100%;
    }

    .products .product-image span {
        font-size: 12px;
    }

    .app-links {
        max-width: 50%;
    }
    header .intro-text .intro-heading{
        font-size: 1.5rem;
    }
    #Contact h3 {
        font-size: 2.5rem;
        font-weight: 500;
    }

}


@media screen and (max-width: 460px) {
    #About p {
        font-size: 1.9rem;
    }


    .storeImg {
        width: 100%;
    }

    /*.banner{*/
        /*display: block;*/
        /*-moz-box-sizing: border-box;*/
        /*box-sizing: border-box;*/
        /*background: url(../img/bgBelot.jpeg) no-repeat;*/
        /*width: 180px; !* Width of new image *!*/
        /*height: 236px; !* Height of new image *!*/
        /*padding-left: 180px;*/
    /*}*/

    #Games .app-link-container .col-md-6 {
        padding: 2px 2px 2px 0;
    }


    #Contact h3 {
        margin-top: 5rem;
        font-size: 2.5rem;
        font-weight: 500;
    }

    #Contact p {
        font-size: 2.3rem;
    }

}

@media screen and (max-width: 480px) and (orientation: landscape) {

    .storeImg {
        width: 100%;
    }
    .intro-heading{
        font-size: 1rem;
    }

    #Games .app-link-container .col-md-6 {
        padding: 2px 2px 2px 0;
    }

    #Games .app-link-container .app-links-left {

    }

    #Contact h3 {
        margin-top: 5rem;
        font-size: 2.5rem;
        font-weight: 500;
    }

    #Contact p {
        font-size: 2.2rem;
    }

}

section {
    padding: 150px 0;
}

/*For Big Screens*/
@media (min-width: 768px) {
    .logo-home-position {
        width: 230px;
        height: 130px;
    }

    header {
        text-align: center;
        color: #222;
        background-attachment: scroll;
        /*background-image: url(../img/header-bg.jpg);*/
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    header .intro-text {
        padding-top: 50px;
        height: 100vh;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: -10px;
        font-size: 40px;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-size: 30px;
        line-height: 45px;
    }

    section {
        padding: 150px 0;
    }

    section #About {
        height: 100vh;
    }

    #About h2 {
        margin-top: -50px;
    }

    #About p {
        /*   color: #fff; */
    }

    .section-heading {
        font-weight: 400;
    }

    section #Jobs {
        height: 100vh;
        color: #fff;
    }

    section h3.section-subheading {
        margin-bottom: 50px;
        text-transform: none;
        font-size: 16px;
        font-weight: 400;
    }
}

/*For Landscape Ipad Mode*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    header {
        color: #222;
    }

    header .intro-text {
        height: 676px;
    }

    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-size: 15px;
        line-height: 75px;
    }

    #About p {
        /*    color: #fff; */
    }
}

/*For Portrait Ipad Mode*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    header .intro-text {
        height: 936px;
    }

    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 75px;
    }

    #About p {
        /*   color: #fff; */
    }
}

@media screen and (max-width: 381px) and (orientation: portrait), screen and (max-height: 641px) and (orientation: portrait) {

    header .container {

        background-repeat: no-repeat;
    }


    header .intro-text {
        padding-top: 80px;
        height: 475px;
    }

    header .intro-text .intro-lead-in {
        margin-top: -20px;
        font-size: 15px;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        font-size: 1.5rem;
    }

    #About p {
        font-size: 1.7rem;
        text-indent: 0px;
    }

    section#Contact h2 {
        font-size: 30px;
    }

    section#Contact {
        background: url(../img/Layer%2020.png) center center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    section#Contact h3 {
        margin-top: 2rem;
    }

    section#Contact p {
        font-size: 1.8rem;
    }

    section#Contact .section-subheading {
        font-size: 2rem;
    }
}

@media screen and (max-width: 381px) and (orientation: landscape), screen and (max-height: 641px) and (orientation: landscape) {
    header .intro-text {
        padding-top: 80px;
        height: 100vh;
    }

    header .intro-text .intro-lead-in {
        margin-top: -10px;
        font-size: 40px;
        line-height: 40px;
        text-shadow: 2px 2px 4px #000000;
    }

    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 25px;

    }

    #About .section-heading {
        margin-top: -50px;
    }

    #About p {
        color: #000;
    }

    section#Contact {
        background: url(../img/Layer%2020.png) center center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    #Contact h3 {
        margin-top: 80px;
    }
}

@media screen and (max-width: 351px){
    header .intro-text .intro-heading {
        font-size: 1.1rem;
        line-height: 25px;
    }
}

/*SuperSmall Phones*/
@media screen and (max-height: 225px), screen and (max-width: 281px) {

    header .intro-text {
        padding-top: 65px;
        height: 220px;
    }

    header .intro-text .intro-heading {
        /*text-transform: uppercase;*/
        font-size: 1.1rem;
        line-height: 25px;
    }

    section h2.section-heading {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 20px;
    }

    section h3.section-subheading {
        margin-bottom: 40px;
        text-transform: none;
        font-size: 10px;
        font-weight: 400;

    }

    #About h2 {
        margin-top: -20px;
    }

    #About p {
        font-size: 1.2rem;
    }

    #Jobs p,
    #Jobs ul {
        font-size: 12px;
        text-align: justify;
    }

    #Contact h2 {

    }

    #Contact h3 {
        margin-top: 20px;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}


@media (min-width: 767px) {

    .logo-position {
        margin-top: -1px;
    }

}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}


aside.clients img {
    margin: 50px auto;
}

section#Contact {
    background-origin: border-box;
    color: #222;
    background: url(../img/Layer%2020.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section#Contact .section-heading {

}

section#Contact .section-subheading {

}

section#Contact p {

    color: #ffffff;
    text-align: center;
}

section#Contact .contact {

}

section#Contact .section-heading {
    margin-bottom: -25px;
    color: #fff;
}

section#Contact h3.section-subheading {
    padding-top: 25px;
    color: #fff;
}

section#Contact .form-group {
    margin-bottom: 25px;
}

section#Contact .form-group input,
section#Contact .form-group textarea {
    padding: 20px;
}

section#Contact .form-group input.form-control {
    height: auto;
}

section#Contact .form-group textarea.form-control {
    height: 236px;
}

section#Contact .form-control:focus {

    box-shadow: none;
}

section#Contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#Contact:-moz-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#Contact::-moz-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#Contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

footer {
    background: #AA448A;
    color: #ffffff;
    padding: 25px 0;
    text-align: center;
    font-size: 2rem;
}

.social-icon {

}

footer span.copyright {

    text-transform: none;
    text-align: center;
    line-height: 2rem;
}

footer ul {
    padding-left: 0;
}

footer ul.quicklinks {
    margin-bottom: 1rem;
    text-transform: none;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 1rem;
}

ul.social-buttons li a {
    display: block;
    line-height: 45px;
    width: 45px;
    text-align: center;
    vertical-align: middle;
    color: #AA448A;
    background-color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

ul.social-buttons li a:before {
    text-align: center;
    vertical-align: middle;
}

ul.social-buttons li {
    display: inline-block;
    font-size: 4rem;
}

.fa-facebook:hover {
    color: #fff;
    background: #3C5899;
}

.fa-twitter:hover {
    color: #fff;
    background: #63CDF1;
}

.fa-linkedin:hover {
    color: #fff;
    background: #0077B5;
}

.fa-youtube:hover {
    color: #fff;
    background: #E62117;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}


::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

li {
    text-align: left;
}

body {
    webkit-tap-highlight-color: #fed136;
}

.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 15px;
    overflow: hidden;
}

.email-size {
    height: 16px;
    width: 130px;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #7f3367 url(../img/cd-top-arrow.svg) no-repeat center 50%;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #7f3367;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }

}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

@media
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (-moz-min-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2) {
    /*.banner{*/
        /*display: block;*/
        /*-moz-box-sizing: border-box;*/
        /*box-sizing: border-box;*/
        /*background: url(../img/Rounded%20Rectangle%201%20copy2@.png) no-repeat;*/
        /*max-width: 100%;*/
        /*background-position: center center;*/
        /*-webkit-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*background-size: cover;*/
        /*-o-background-size: cover;*/
        /*width: 398px;*/
        /*height: 398px;*/
        /*padding-left: 398px;*/
        /*left: 50%;*/
        /*position: relative;*/
        /*transform: translate(-50%);*/
    /*}*/
}

@media (min-width: 2000px) {
    #About .container, #Jobs .container, #Contact .container, .navbar .container {
        width: 2500px;
    }
    #About a {
        font-size: 2rem !important;
    }

    #Games .container {
        max-width: 960px;
    }

    p {
        font-size: 5rem !important;
    }

    h2 {
        font-size: 8rem !important;
    }

    h3 {
        font-size: 6rem !important;
    }

    h4 {
        font-size: 5rem !important;
    }
    a{
        font-size: 5rem !important;
    }

    .navbar-default .nav li a {
        font-size: 4rem;
    }

    ul li {
        font-size: 4rem;
    }

    footer span.copyright {
        text-transform: none;
        text-align: center;
        line-height: 5rem;
        font-size: 5rem;
    }
}

/*bootstrap fix col height */
.col-xs-6:nth-of-type(2n+3),
.col-xs-4:nth-of-type(3n+4),
.col-xs-3:nth-of-type(4n+5),
.col-xs-2:nth-of-type(6n+7),
.col-xs-1:nth-of-type(12n+13) {
    clear: both;
}

@media (min-width: 768px) {
    [class*="col-xs"][class*="col-sm"],
    [class*="col-xs"][class*="col-md"],
    [class*="col-xs"][class*="col-lg"] {
        clear: none;
    }

    .col-sm-6:nth-of-type(2n+3),
    .col-sm-4:nth-of-type(3n+4),
    .col-sm-3:nth-of-type(4n+5),
    .col-sm-2:nth-of-type(6n+7),
    .col-sm-1:nth-of-type(12n+13) {
        clear: both;
    }
}

@media (min-width: 992px) {
    [class*="col-sm"][class*="col-md"],
    [class*="col-sm"][class*="col-lg"] {
        clear: none;
    }

    .col-md-6:nth-of-type(2n+3),
    .col-md-4:nth-of-type(3n+4),
    .col-md-3:nth-of-type(4n+5),
    .col-md-2:nth-of-type(6n+7),
    .col-md-1:nth-of-type(12n+13) {
        clear: both;
    }
}

@media (min-width: 1200px) {
    [class*="col-md"][class*="col-lg"] {
        clear: none;
    }

    .col-lg-6:nth-of-type(2n+3),
    .col-lg-4:nth-of-type(3n+4),
    .col-lg-3:nth-of-type(4n+5),
    .col-lg-2:nth-of-type(6n+7),
    .col-lg-1:nth-of-type(12n+13) {
        clear: both;
    }
}

.col-nobreak {
    clear: none !important;
}



/*css animations*/
.fadeInUpBig.in-view{
    animation: fadeInUpBig ease 2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: fadeInUpBig ease 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: fadeInUpBig ease 2s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: fadeInUpBig ease 2s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: fadeInUpBig ease 2s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translatex(75px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        transform: translateY(75px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.store.fadeInUpBig.in-view{
    animation: fadeInUpBig1 ease 1.2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: fadeInUpBig1 ease 1.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: fadeInUpBig1 ease 1.2s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: fadeInUpBig1 ease 1.2s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: fadeInUpBig1 ease 1.2s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@-webkit-keyframes fadeInUpBig1 {
    0% {
        opacity: 0;
        -webkit-transform: translatex(185px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@keyframes fadeInUpBig1 {
    0% {
        opacity: 0;
        transform: translateY(185px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.work.fadeInUpBig.in-view{
    animation: fadeInUpBig2 ease 1.7s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: fadeInUpBig2 ease 1.7s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: fadeInUpBig2 ease 1.7s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: fadeInUpBig2 ease 1.7s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: fadeInUpBig2 ease 1.7s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@-webkit-keyframes fadeInUpBig2 {
    0% {
        opacity: 0;
        -webkit-transform: translatex(185px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@keyframes fadeInUpBig2 {
    0% {
        opacity: 0;
        transform: translateY(185px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.fa-facebook.key.fadeInUpBig.in-view {
    animation-name: zoom;
    animation-duration: 2s;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}
.fa-twitter.key.fadeInUpBig.in-view{
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}
.fa-linkedin.key.fadeInUpBig.in-view{
    animation-name: zoom;
    animation-duration: 3s;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}
.fa-youtube.key.fadeInUpBig.in-view{
    animation-name: zoom;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}
@keyframes zoom {
    0%, 25%  {
        transform: scale(0, 0);
    }

    35%, 100% {
        transform: scale(1, 1);
    }
}