@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic&subset=latin,cyrillic);

/*
========================================================================
BLOG :: Body
========================================================================
*/
html{
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans',arial,sans-serif;
	background-color: #FAFAFA;
	margin: 0;
	padding: 0;
	font-size: 100%;
	color: #555;
}

#container-first {
    margin: 0 auto;
    /* width:; */
    overflow: auto;
    padding: 20px;
	border: 1px solid #F7F7F7;
	background-color: #FFFFFF;
}

a {
	color: #006AC8;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*
========================================================================
BLOG :: Head
========================================================================
*/

#blog-head {
	overflow: auto;
	margin: 10px 0 10px 0;
	font-weight: lighter;
	border-bottom: 1px solid #D0D0C3;
	padding-bottom: 20px;
}

#blog-head	a {
	color: #333;
	text-decoration: none;
	font-size: 3.6rem;
}

#blog-head	span.blog-title {
	color: #777777;
}

#blog-head	span.blog-slogan {
	color: #777777;
	font-size:70%;
}

#blog-head span.blog-name, #blog-head span.blog-slogan, #blog-head span.blog-logo {
	display: block;
	text-align: center;
}

#blog-head span.blog-logo{
	height:100px;
	width:100%;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 50px;

	/* background-size: auto 80px; */
}

/*
========================================================================
BLOG :: Main
========================================================================
*/

#main {
    margin: 0 auto;
    overflow: auto;
	font-size: 1.4em;
}

#left {
    /* margin-right: 280px; */
}

#sidebar {
	float: right;
	/* width: 230px; */
	/* margin-right: 10px; */
}

.nav > li > a{
	border-radius: 0;
}

.nav > li > a{
	padding: 0;
}

.dropdown-menu{
	position: static;
	float:none;
	padding: 0;
	margin-bottom: 10px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;

}

.dropdown-menu > li > a{
	border-bottom: 1px solid #EEEEEE;
	padding: 5px 20px;
	color: #337ab7;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #23527c;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #EEEEEE;
}

.nav > .dropdown a.dropdown-toggle, 
.nav > .dropdown a.dropdown-toggle:hover, 
.nav > .dropdown a.dropdown-toggle:focus {
    background-color: transparent;
	color: #FFFFFF;
 }

.navbar-header{
	background-color: #EEEEEE;
	margin-bottom: 10px;
}

.navbar-toggle, .navbar-toggle.collapsed{
 	padding: 0;
 }

 .glyphicon{
 	font-size:24px;
 }

 .navbar-collapse.collapse.in {
	padding-bottom:20px;
 }


 @media (min-width:768px){
    .dropdown-menu{
        display: block;
        position: static;
        background-color:transparent;
        border:0 none;
        box-shadow:none;
        margin-top:0;
        position:static;
        width:100%;
    }
    .navbar-nav .dropdown-menu > li > a, 
    .navbar-nav .dropdown-menu .dropdown-header {
        padding:5px 15px 5px 25px;
    }
    .navbar-nav .dropdown-menu > li > a{
        line-height:20px;
    }
    .navbar-default .navbar-nav .dropdown-menu > li > a{    
        color:#777;
    }
}

/*
========================================================================
BLOG :: Footer
========================================================================
*/

#blog-foot {
	text-align: right;
	font-size: 1.1em;
}

/*
========================================================================
BLOG :: Page 404
========================================================================
*/

div.page_404 {

}

/*
========================================================================
BLOG :: Pager
========================================================================
*/

#pager {
	overflow: auto;
	text-align: center;
}

#pager	a.next-page {
	float: right;
	background: #FFFFFF;
	padding: 0 5px;
}

#pager	a.prev-page {
	float: left;
	background: #FFFFFF;
	padding: 0 5px;
}

#pager	a.home-page {
	background: #FFFFFF;
	padding: 0 5px;
}

/*
========================================================================
Nibbleblog Styles
========================================================================
*/

.nb-code {
	border-style: solid !important;
}

.nb-console {
    background: url("img/console.png") no-repeat scroll 8px 8px #F1F1F1;
    display: block;
    line-height: 24px;
    margin: 5px 0;
    overflow: auto;
    padding-left: 38px;
    white-space: nowrap;
    border: 1px solid #ccc !important;
}

.nb-align-left {
	float:left;
	margin:0 1em 1em 0;
}

.nb-align-right {
	float:right;
	margin:0 0 1em 1em;
}

.nb-align-center {
	display:block;
	margin:0 auto 1em;
}

/*------------------Bootstrap queries-----------------------*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up)  sm*/
@media (min-width: 768px){
/* @media (min-width: 768px) { */

	 body {
		padding: 20px;
	}
	
	#container {
    	max-width: 90%;
    } 

	#blog-head {
		margin: 10px 0 30px 0;
	}

    #blog-head span.blog-logo{
		background-size: auto 80px; 
    }

	#blog-head	span.blog-slogan {
		font-size: 100%;
	}


 }

/* Medium devices (desktops, 992px and up) md */
@media (min-width: 992px) and (max-width: 1199px) {
/* @media (min-width: 992px) { */

	
    #container {
    	max-width: 80%;
    }
}

/* Large devices (large desktops, 1200px and up) lg */
@media screen and (min-width: 1200px) {
    #container {
    	max-width: 80%;
    }

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
    #container {
    	max-width: 100%;
    }

}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
	#container {
    	max-width: 100%;
    }    

}
