/*
========================================================================
POST
========================================================================
*/

article.post {
	margin-bottom: 60px;
	overflow: hidden;
}

/*
========================================================================
POST :: Head
========================================================================
*/
article.post	header {
	padding-bottom: 0.75em;
}

article.post	header	h1.post-title {
	font-size: 2rem;
	margin: 0;
	color: #2986D2;
	font-weight: normal;
	padding-bottom: 0.5em;
}

article.post	header	h1.post-title	a {
	color: #A3327F;
}

article.post	header	h1.post-title	a:hover {
	color: #818181;
	text-decoration: none;
}

article.post	header	div.post-published {
	border-left: 32px solid #A3327F;
	color: #666666;
	display: inline-block;
	font-size: 1.4rem;
	padding-left: 8px;
}

article.post	header	div.share_wrap {
	border-left: 42px solid #C363A4;
	color: #666666;
	display: block;
	padding-left: 8px;
	margin-top: 3px;
}

article.post	header	div.share_wrap	span {
	margin-right: 5px;
}
/*
========================================================================
POST :: Content
========================================================================
*/

article.post	div.post-content	pre {
	border: 1px dashed #ccc;
}


article.post	div.post-content	img {
	max-width:100%;
}

article.post	div.post-content	blockquote {
	font-size: 1.1rem;
	font-style: italic;
}

article.post	div.post-content	h1,
article.post	div.post-content	h2,
article.post	div.post-content	h3,
article.post	div.post-content	h4,
article.post	div.post-content	h5 {
	font-weight: normal;
	color: #333333;
	margin: 22px 0 13px 0;
	padding: 0;
}

article.post	div.post-content	h1 {
	font-size: 1.8rem;
}

article.post	div.post-content	p {
	line-height: 1.5em;
}

article.post	div.post-content	.video-embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin: 13px 0;
}

article.post	div.post-content	.video-embed iframe,
article.post	div.post-content	.video-embed object,
article.post	div.post-content	.video-embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
========================================================================
POST :: Footer
========================================================================
*/

article.post	footer {
	font-size: 1.4rem;
	margin-top: 20px;
}

article.post	footer	div.readmore {
	background: #EEEEEE;
	padding: 8px 15px;
}

article.post	footer	span {
	margin: 0 3px;
}

article.post	footer	a {
	font-weight: normal;
}

/*
========================================================================
POST :: Footer :: Tags
========================================================================
*/

article.post	footer	div.post-tags {
	border-left: 4px solid #FF8A3D;
	margin-top: 7px;
	padding-left: 10px;
}

article.post	footer	div.post-tags	ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

article.post	footer	div.post-tags	li {
	display: inline-block;
}

article.post	footer	div.post-tags	a.tag {
	color: #434343;
	margin-right: 2px;
	padding: 0 5px;
}

article.post	footer	div.post-tags	a.tag:hover {
	opacity: 0.8;
	text-decoration: none;
}

/*
========================================================================
POST :: Comments
========================================================================
*/

#comments {
	margin-top: -40px;
}

#comment_list {
	margin-top: 30px;
}

#comment_list	h2 {
	font-weight: normal;
	margin: 10px 0;
}

#comment_list	div.comment {
	border-left: 2px solid #FFAC00;
	margin: 0 0 10px;
	padding: 10px;
	overflow: auto;
}

#comment_list	span.author_name {
	font-weight: bold;
}

#comment_list	span.date {
	margin-left: 10px;
	font-style: italic;
}

#comment_list	span.content {
	display: block;
}

#comment_list	img.avatar {
	float:left;
	margin-right: 10px;
}

/*
========================================================================
POST :: Comments form
========================================================================
*/

#comment_form {
	margin-top: 30px;
	width: 70%;
}

#comment_form	h2 {
	font-weight: normal;
	margin: 10px 0;
}

#comment_form	h3.alert {
    background: #E83E76;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0 0 15px;
    padding: 12px;
}

#comment_form	input[type="text"],
#comment_form	textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 8px;
	outline:none;
	resize: none;
	margin-bottom: 15px;
	font-family: 'Open Sans', helvetica,arial,sans-serif;
	font-size: 1rem;
}

#comment_form	input[type="submit"] {
	display: block;
	clear: left;
	padding: 3px 8px;
}

/* For Facebook comments */
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
	width: 100% !important;
}